extends layout

block content
  div(ng-controller="LightsController as lightsCtrl")
    ul.list-group
      li.list-group-item(ng-repeat="light in lightsCtrl.lights")
        input(type="radio", value="{{light.id}}", ng-model="lightsCtrl.target_light_id", )
        | {{light.name}}
    div.row
      div.col-md-1
        button.btn.btn-default.full(ng-click='lightsCtrl.off()') OFF
      div.col-md-1
        button.btn.btn-default.full(ng-click='lightsCtrl.on()') ON