extends layout

block content
  div(ng-controller="LightsController as lights")
    div.row
      div.col-md-1
        button.btn.btn-default.full(ng-click='lights.off()') OFF
      div.col-md-1
        button.btn.btn-default.full(ng-click='lights.on()') ON